<div class="scroll">
<div class="item_index_main">
<%= render "user/items/sidebar" %>
<% if flash[:notice] %>
	<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>

	<div class="item_index">

		<% if @items.count > 0 %>
		<% @items.each do |item|%>
			<h5>
				<%= link_to item_path(item.id),class: "item_index_image" do %>
					<%= attachment_image_tag(item, :image, :fill, 341, 400)%>
				<% end %>
				<br>

				<div id="favorites_buttons_<%= item.id %>">
				   <%= render partial: 'user/favorites/favorite', locals: { item: item} %>
				</div>

				<%= image_tag("comment.png")%> <%= item.item_comments.count %>
			</h5>

		<% end %>

		<% else %>
			<div class="item_index_text"><h1>まだアイテムはありません</h1></div>
		<% end %>
	</div>
</div>
<script src="flash.js"></script>
</div>



