
	<%= render "user/users/profile" %>
	<%= render "user/items/sidebar" %>


<div class="item_reaction">
	<%= attachment_image_tag(@item, :image, :fill, 400, 450, class: "item_image") %>

</div>
<div class="reaction_favorite">
	<div class="favorite_btn_box">
		<div id="favorites_buttons_<%= @item.id %>">
				<%= render partial: 'user/favorites/favorite2', locals: { item: @item} %>
		</div>
	</div>
	<div class="comment_btn_box">
		<%= image_tag('comment.png')%><p class='item_comment_count'>(<%= @item.item_comments.count%>)</p>
	</div>
</div>
<div class="item_comment_area">
	<div id="item_comments_buttons_<%= @item.id %>">
	   <%= render partial: 'user/item_comments/item_comment'%>
	</div>
</div>


		<% if user_signed_in? %>
			<% if current_user.id == @item.user_id %>
				<table class="table table-hover">
				<tr>
					<td align="center"><%= link_to edit_item_path ,class: "btn_detail" do %>
						<button type="button" class="btn btn-light">EDIT</button><% end %>
					</td>
				</tr>
				<tr>
					<td align="center"><%= link_to item_path, method: :delete ,class: "btn_detail" do %><button type="button" class="btn btn-danger">DELETE</button><% end %>
					</td>
				</tr>
				</table>
			<% end %>
		<% end %>


		<table class ="table table-hover">
			<tr>
				<td>USER</td>
				<td><%= link_to user_path(@item.user.id) do %>
					<%= @item.user.nickname %><% end %>
				</td>
			</tr>
			<tr>
				<td>SHOP</td>
				<td><%= link_to brand_path(@item.brand_id) do %>
					<p id="item_brandid"><%= @item.brand_name %></p><% end %>
				</td>
			</tr>

			<tr>
				<td>ITEM-NAME</td>
				<td><%= @item.item_name %></td>
			</tr>
			<tr>
				<td>PRICE</td>
				<td><%= @item.price %></td>
			</tr>
			<tr>
				<td>CATEGORY</td>
				<td><%= @item.category.category_name %></td>
			</tr>
		</table>
		<table class="table table-hover">
			<tr><td>INTRODUCTION</td></tr>
			<tr><td><%= @item.introduction %></td></tr>
		</table>




	<%if user_signed_in? %>
		<div class="comment_form">
			<%= form_for [@item, @item_comment], remote: true do |f| %>
			<%= f.text_area :comment, :size=>'52x5',placeholder: "コメントをここに入力してください"%><br>
			<%= f.submit "送信する"%>
			<% end %>
		</div>
	<% end %>


