
<%= render "user/users/profile" %>
<%= render "user/items/sidebar" %>
<div class='item_show_container'>
	<div class='item_reaction_wrapper'>
		<div class="item_reaction">
			<%= attachment_image_tag(@item, :image, :fill, 520, 620, class: "item_image") %>
		</div>
		<div class="reaction_favorite">
			<div class="favorite_btn_box">
				<div id="favorites_buttons_<%= @item.id %>">
						<%= render partial: 'user/favorites/favorite2', locals: { item: @item} %>
				</div>
			</div>
			<div class="comment_btn_box">
				<%= image_tag('comment.png')%><p class='item_comment_count'>(<%= @item.item_comments.count%>)</p>
			</div>
		</div>
	</div>


	<div class="item_detail_area">
		<p class='item_name'><%= @item.item_name %></p>
		<hr style='width:90%;'>
		<p class='item_introduction'><%= @item.introduction %></p>
		<hr style='width:90%;'>
		<% if @item.brand_name != ""%>
			<% if Brand.where(brand_name: @item.brand_name).exists? %>
				<p class='brand_name'>SHOP / <%= link_to items_path(brand_name: @item.brand_name) do %><span id="item_brandid", style='color:#00bfff;'><%= @item.brand_name %></span><% end %></p>
			<% else %>
				<p class ='brand_name'>SHOP / <%= @item.brand_name %></p>
			<% end %>

		<% end %>
		<p class='category_name'>Category / <%= link_to items_path(category_id: @item.category_id) do %><span style='color:#00bfff;'><%= @item.category.category_name %><% end %></p>
		<p class='item_create_time'><%= @item.created_at.strftime('%Y/%m/%d/%H:%M') %></p>
	</div>



	<div class="item_comment_area">
		<p class='item_comment_nickname_weight'><%= @user.nickname %>さんへのコメント</p>
		<div id="item_comments_buttons_<%= @item.id %>">
		   <%= render partial: 'user/item_comments/item_comment'%>
		</div>
		<%if user_signed_in? %>
			<div class="comment_form">
				<%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, class: 'comment_form_profile_image'%>
				<%= form_with model:[@item, @item_comment] do |f| %>
				<!-- form_withはデフォルトで非同期通信になるので"remote:true"がいりません！ -->
				<%= f.text_area :comment, :size=>'43x2',placeholder: "コメントを書く",class: "item_comment_content"%>
				<%= f.submit "送信",class: "item_comment_btn"%>
				<% end %>
			</div>
		<% end %>
		<div id="comments_error">
		  <%= render 'layouts/errors', model: @item %>
		</div>
	</div>

	<% if user_signed_in? %>
		<% if current_user.id == @item.user_id %>
			<table class="table table-hover">
			<tr>
				<td align="center"><%= link_to edit_item_path ,class: "btn_detail" do %>
					<button type="button" class="btn btn-light">EDIT</button><% end %>
				</td>
			</tr>
			<tr>
				<td align="center"><%= link_to item_path, method: :delete ,class: "btn_detail" do %><button type="button" class="btn btn-danger">DELETE</button><% end %>
				</td>
			</tr>
			</table>
		<% end %>
	<% end %>
</div>






