<div style="width:100%; height:170px; background-color:#FFFFFF ">
	<div class="user_detail" style="margin-top:60px;">
		<%= attachment_image_tag @user, :profile_image, format: 'jpg', size: "80x80" , class: "img-circle user_show_image", fallback: "no_image.jpg"%>
		<p class="user_nickname">NAME : <%= @user.nickname %></p>
			<% if current_user == @user %>
				<%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success user_editbtn" %>
			<% else %>
				<div id="follows_buttons_<%= @user.id %>">
					<%= render partial: 'user/relationships/user_show_follow', locals: { item: @item} %>
				</div>
			<% end %>
	</div>

	<div class="user_itemlist">
		<%= link_to user_path(@user), class: "user_detail_btn" do %><div class="user_itemlist_left" id="profile_btn"><%= @user.items.count %>
			<p>アイテム</p>
		</div><% end %>
		<%= link_to favorites_path(@user.id), class: "user_detail_btn"  do %><div class="user_itemlist_left" id="profile_btn"><%= @user.favorites.count%>
			<p>お気に入り</p>
		</div><% end %>
			<%= link_to user_follows_path(@user), class: "user_detail_btn" do %>
			<div class="user_itemlist_right" id="profile_btn"><%= @user.follower.count %>
				<p>フォロー</p>
			</div><% end %>
			<%= link_to user_followers_path(@user), class: "user_detail_btn" do %>
			<div class="user_itemlist_right" id="profile_btn"><%= @user.followed.count %>
				<p>フォロワー</p>
			</div><% end %>
	</div>
</div>

