    <div class="user_sidebar">
        <!-- これじゃないとサイズ指定が効かなかった・・・ -->
        <%= attachment_image_tag @user, :profile_image, format: 'jpg', size: "200x200" , class: "img-circle", fallback: "no_image.jpg"%>
		<table class="table">
			<tr><td><strong>Name</strong></td><td><%= @user.nickname %></td></tr>
			<tr><td><strong>follows</strong></td><td><%= link_to @user.follower.count, user_follows_path(@user) %></td></tr>
  			<tr><td><strong>followers</strong></td><td><%= link_to @user.followed.count, user_followers_path(@user) %></td></tr>
    	</table>
            <hr>
            <%= link_to "いいねしたアイテム", favorites_path(@user.id), class: "favorite_item_btn btn "%><hr>
            <% if @user.id == current_user.id %>
            <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success" %>
            <% else %>
            <% end %>

            <% if @user.id != current_user.id %>
            <% if current_user.following?(@user) %>
        	<%= link_to 'フォローをやめる', user_relationships_path(@user.id), method: :delete , class: "btn btn-danger"%>
        	<% else %>
        	<%= link_to 'フォローする', user_relationships_path(@user.id), method: :post,class: "btn btn-success"%>
        	<% end %>
            <% end %>
    </div>