<div style="width:100%; height:170px; background-color:#FFFFFF;">
	<div class="user_detail" style="margin-top:60px;">
		<%= attachment_image_tag @user, :profile_image, format: 'jpg', size: "80x80" , class: "img-circle user_show_image", fallback: "no_image.jpg"%>
		<p class="user_nickname">NAME:<%= @user.nickname %></p>
			<% if current_user == @user %>
				<%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success user_editbtn" %>
			<% else %>
				<div id="follows_buttons_<%= @user.id %>">
					<%= render partial: 'user/relationships/user_show_follow', locals: { item: @item} %>
				</div>
			<% end %>
	</div>

	<div class="user_itemlist">
		<div class="user_itemlist_left"><%= link_to user_path(@user), class: "user_detail_btn" do %><%= @user.items.count %><% end %>
			<p>アイテム</p>
		</div>
		<div class="user_itemlist_left"><%= link_to favorites_path(@user.id), class: "user_detail_btn"  do %><%= @user.favorites.count%><% end %>
			<p>お気に入り</p>
		</div>
		<div class="user_itemlist_right"><%= link_to @user.follower.count, user_follows_path(@user), class: "user_detail_btn"  %>
			<p>フォロー</p>
		</div>
		<div class="user_itemlist_right"><%= link_to @user.followed.count, user_followers_path(@user), class: "user_detail_btn"  %>
			<p>フォロワー</p>
		</div>
	</div>
</div>
<div class="follow_index">
	<h2>フォロワー一覧</h2>
	<% if @users.count > 0 %>
		<% @users.each do |user| %>
			<div class ="relationships_box">
				<div class="relationship_img_box">
				<%= link_to user_path(user) do %><%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg", size:'70x70',class: "img-circle relationship_img")%><% end %>
				</div>
				<div class ="relationship_follow_box">
					<% if current_user != user %>
	  				<% if current_user.following?(user) %>
	  					<%= link_to 'フォロー解除', user_relationships_path(user.id), method: :delete, class: "btn-circle-border-red" %>
	  				<% else %>
	   					<%= link_to 'フォローする', user_relationships_path(user.id), method: :POST, class: "btn-circle-border-blue"%>
	  				<% end %>
					<% end %>
				</div>
				<div class="relationship_user_detail">
					<h4><%= user.nickname %></h4>
					<%= link_to user_followers_path(user), class: "user_follow_detail" do %><%= user.followed.count%><% end %>フォロワー
					<%= link_to user_path(user), class: "user_follow_detail"  do %><%= user.items.count%><% end %>アイテム
				</div>
			</div>
		<% end %>
	<% else %>
 		<p>ユーザーはいません</p>
	<% end %>
</div>