

<div class="container categories_index">
	<div class ="row">
		<%= form_with model: @category, url: admin_categories_path do |f| %>
		<%= f.label :category_name %>
		<%= f.text_field :category_name%>
		<%= f.submit %>
		<% end %>
			<table class="table table-dark table-hover">

				<tr><th>カテゴリー名</th><th>ステータス</th><th>フラグ</th></tr>
				<% @categories.each do |category| %>
				<tr>
				<td><%= category.category_name %></td>
				<td><% if category.category_status == true %>
              		<p>有効</p>
            		<% else %>
              		<p>無効</p>
            		<% end %></td>
				<td><%= link_to "EDIT", edit_admin_category_path(category.id) %></td>
				<td><%= link_to "DELETE", admin_category_path(category.id),method: :delete %></td>
				</tr>
				<% end %>
			</table>
	</div>
</div>