<div class="notification_index">
	<div class="notification_detail">
		<h1>お知らせ</h1><hr>

		<!-- 自分が自分に対して行ったものに対しては通知をしない -->
		<% @notifications = @notifications.where.not(visitor_id: current_user.id) %>
		<% if @notifications.exists? %>
		<% @notifications.each do |notification|%>

				<!-- 受け取ったactionカラムに応じて表示を分岐させる -->
				<% if notification.action == "follow" %>
					<%= link_to user_path(notification.visitor) do %>
					<%= attachment_image_tag notification.visitor, :profile_image, format: 'jpg', size: "30x30" , class: "img-circle", fallback: "no_image.jpg"%>
					<%= notification.visitor.nickname %><% end %>さんが
					あなたをフォローしました<%= " (#{time_ago_in_words(notification.created_at)} 前)" %><hr>
				<% elsif notification.action == "like" %>
					<%= link_to user_path(notification.visitor) do %>
					<%= attachment_image_tag notification.visitor, :profile_image, format: 'jpg', size: "30x30" , class: "img-circle", fallback: "no_image.jpg"%><%= notification.visitor.nickname %><% end %>さんが
					<%= link_to item_path(notification.item) do %>あなたの投稿<% end %>にいいねしました<%= " (#{time_ago_in_words(notification.created_at)} 前)" %><hr>
				<% elsif notification.action == "comment"%>
					<!-- コメントした人ユーザーのIDとコメントされた投稿のユーザーのIDが違う場合 -->
					<% if notification.visited.id != notification.item.user_id %>
						<%= link_to user_path(notification.item_comment.user) do %>
						<%= attachment_image_tag notification.item_comment.user, :profile_image, format: 'jpg', size: "30x30" , class: "img-circle", fallback: "no_image.jpg"%>
						<%= notification.item_comment.user.nickname %><% end %>さんが
						<%= link_to item_path(notification.item) do %>
						<%= attachment_image_tag notification.item.user, :profile_image, format: 'jpg', size: "30x30" , class: "img-circle", fallback: "no_image.jpg"%>
						<%= notification.item.user.nickname %>さんの投稿<% end %>にコメントしました。<%= " (#{time_ago_in_words(notification.created_at)} 前)" %>
					<% else %>
						<%= link_to user_path(notification.item_comment.user) do %>
						<%= attachment_image_tag notification.item_comment.user, :profile_image, format: 'jpg', size: "30x30" , class: "img-circle", fallback: "no_image.jpg"%>
						<%= notification.visitor.nickname %><% end %>が
						<%= link_to item_path(notification.item) do %>あなたの投稿<% end %>にコメントしました。<%= " (#{time_ago_in_words(notification.created_at)} 前)" %>
					<% end %><hr>
				<% end %>

		<% end %><!-- ここで繰り返しが終わっている -->

		<% else %><!-- 存在していなければ -->
			<h2>お知らせはありません</h2>
		<% end %>

		<%= link_to "通知ボックスを空にする", notifications_destroy_all_path, method: :delete ,class: "btn btn-danger"%>
		<div class="paginate_notification"><%= paginate @notifications %></div>
	</div>
</div>
