<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <meta charset="UTF-8">
      <title>Clothesone</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/07f593dbe7.js" crossorigin="anonymous"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
              <span>ClothesOne</span>
        </nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to user_path(current_user.id), class:"btn-detail" do %><%= image_tag("mypage.png")%>MY PAGE<% end %></li>
              <li><%= link_to new_item_path, class:"btn-detail" do %><%= image_tag("new.png")%>POST<% end %></li>
              <li><%= link_to items_path, class:"btn-detail" do %><%= image_tag("jacket.png")%>ITEM<% end %></li>
              <% if unchecked_notifications.any? %>
              <li><%= link_to notifications_path, class:"btn-detail" do %><i class="fa fa-circle" style="color: gold;"></i>NOTICE<% end %></li>
              <% else %>
               <li><%= link_to notifications_path, class:"btn-detail" do %>NOTICE<% end %></li>

              <% end %>
              <li><%= link_to destroy_user_session_path, method: :delete, class:"btn-detail" do %><%= image_tag("exit.png")%>LOGOUT<% end %></li>
          <% else %>
              <li><%= link_to new_item_path, class:"btn-detail" do %><%= image_tag("new.png")%>POST<% end %></li>
              <li><%= link_to items_path, class:"btn-detail" do %><%= image_tag("jacket.png")%>ITEM<% end %></li>
              <li><%= link_to brands_path, class:"btn-detail" do %>BRAND<% end %></li>
              <li><%= link_to new_user_session_path, class:"btn-detail" do %><%= image_tag("exit.png")%>LOGIN<% end %></li>
              <% end %>
            </ul>

      </div>
    </header>

    <%= yield %>
  </body>
</html>



