<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <meta charset="UTF-8">
      <title>Clothesone</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/07f593dbe7.js" crossorigin="anonymous"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- コード追加　Bootstrap CSS読み込みコード-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- コード追加　Bootstrap JavaScript読み込みコード-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <%#= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='footer_fixed clearfix' id="container">
      <header>

          <nav class="nav navbar-nav navbar-left">
                <span class="clothesone">
                  <%= link_to root_path,class:"clothesone" do %>
                    <strong>ClothesOne</strong>
                  <% end %>
                </span>
                <span class="search_form">
                  <%= form_tag(search_path,:method => 'get') do %>
                  <%= text_field_tag :search, "",placeholder:"アイテムを探す", class: "search_form_tag" %>
                  <%= submit_tag '検索', :name => nil,class: " search_submit_tag" %>
                  <% end %>
                </span>
          </nav>
          <div id="open_nav"><%= image_tag("menu.png")%></div>

      <%= render "layouts/menu"%>
      </header>
      <%= yield %>
      <footer>
        <p class='footer_top_txt'>©︎ClothesOne</p>
        <p><%= link_to user_inquiries_new_path,class: "footer_mail_txt" do %><%= image_tag("mail.png")%>お問い合わせ<% end %></p>
      </footer>
    </div>
    <script>
    'use strict'
    $(document).ready(function(){
      $('#open_nav').on('click',function(){
        $('#container').toggleClass('show');
      });
        });
    </script>
  </body>
</html>



